extends ../layouts/common

block content
	h1 Update


	form(action='', method='POST')
		.form-group
			label(for="name") Name
			input(type='text', name='name',id="name", class="form-control mb-3")
		.form-group
			label(for="phone") Phone
			input(type='text', name='phone',id="phone", class="form-control mb-3")
		.form-group
			label(for="avatar") Avatar
			input(type='text', name='avatar',id="avatar", class="mb-3 form-control")
		button.btn.btn-success Save